/* ENTIRE PAGE */
* {
  font-family: 'Work Sans', sans-serif;
  /* border: .15em solid white; */
}

body {
  background: rgb(207,137,38);
  background: linear-gradient(90deg, rgba(207,137,38,1) 18%, rgba(190,43,110,1) 82%);
  margin: 0;
}


/* HEADER */
h1 {
  font-family: 'Rock Salt', cursive;
  text-align: center;
  margin: 1em 0em .25em 0em;
  width: 100%;
}


/* MAIN PAGE */
main{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  height: 80vh;
  width: 100vw;
}


/* CENTER  */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1em;
  height: 80%;
}

.center-container {
  margin: 1em 0em 1em 0em;
  width: 50%;
}

.board-title {
  padding: .25em;
  margin: 0em 0em 1em 0em
}

/* GAME BOARD */
table {
  /* border: .15em solid white; */

  padding: .25em;
  margin: auto;
  height: 86%;
  width: 86%;
  border-collapse: collapse;
}

.col-2 {
  border-left: .5em solid navy;
  border-right: .5em solid navy;
  padding: .5em;
}

.row-2 {
  border-top: .5em solid navy;
  border-bottom: .5em solid navy;
  padding: .5em;
}


table > tbody > tr > td {
  height: 30%;
  width: 30%;
  text-align: center;
  color: navy;
  margin: auto;
}

/* LEFT & RIGHT SIDEBAR  */
.player-container {
  /* border: .15em solid white; */
  width: 15%;
}

.left {
  margin-right: 0;
}

.right {
  /* padding-right: 1em; */
  margin-left: 0;
}

.player {
  font-size: 60px;
  color: navy;
  padding: .1em;
  margin: .5em 0em 0em 0em;
}

p {
  color: white;
}
