/* ENTIRE PAGE */
* {
  font-family: 'Work Sans', sans-serif;
  /* border: .15em solid white; */
}

body {
  background: rgb(207,137,38);
  background: linear-gradient(90deg, rgba(207,137,38,1) 18%, rgba(190,43,110,1) 82%);
  margin: 0;
}


/* HEADER */
h1 {
  display: flex;
  justify-content: center;
  margin: .1em 0em .1em 0em;
  width: 100%;
  /* animation-name: popin; */
  /* animation-duration: 1s; */
}

h1 > p {
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: .15em;
}
#tic {
  animation-name: popin;
  animation-duration: 1s;
}
#tac {
  animation-name: popin;
  animation-duration: 1.5s;
}
#toe {
  animation-name: popin;
  animation-duration: 2s;
}
@keyframes popin {
  from {
    z-index: 0;
    opacity: 0%
  }
  to   {
    z-index: 100;
    opacity: 100%
  }
}

/* MAIN PAGE */
main{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  height: 80vh;
  width: 100vw;
  padding-bottom: 2em;
  margin-bottom: 2em;
}


/* CENTER  */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em 3em 1em;
  margin: 1em;
  height: 80%;
}

.center-container {
  margin: 1em 0em 1em 0em;
  width: 50%;
}

.board-title {
  color: white;
  padding: .25em;
  margin: 0em 0em 2em 0em
}

/* GAME BOARD */
table {
  padding: .25em;
  margin: auto;
  height: 86%;
  width: 86%;
  border-collapse: collapse;
}

.col-2 {
  border-left: .5em solid navy;
  border-right: .5em solid navy;
  /* padding: .5em; */
}

.row-2 {
  border-top: .5em solid navy;
  border-bottom: .5em solid navy;
  /* padding: .5em; */
}


table > tbody > tr > td {
  height: 30%;
  width: 30%;
  text-align: center;
  color: navy;
  padding: 1em;
  margin: 1em;
}

/* LEFT & RIGHT SIDEBAR  */
.player-container {
  /* border: .15em solid white; */
  display: flex;
  justify-content: center;
  width: 15%;
}

.left {
  margin-right: 0;
}

.right {
  /* padding-right: 1em; */
  margin-left: 0;
}

/* .player {
  font-size: 60px;
  font-family: 'Ruslan Display', cursive;
  color: navy;
  padding: .1em;
  margin: .5em 0em 0em 0em;
} */

.icon {
  height: 30vh;
  width: 24vw;
  margin-top: 1em;
}

p {
  color: white;
}
